<%= form_tag movie_films_path, method: "get" do %>
  <%= select_tag "origin", options_from_collection_for_select(@origins, :id, :name),
                                                multiple: true, prompt: "Origins" %>
  <%= select_tag "genre", options_from_collection_for_select(@genres, :id, :name),
                                                  multiple: true, prompt: "Genres" %>
  <%= submit_tag "Filter", name: nil %>
<% end %>
<div class="box">
  <div class="head">
    <% if @films %>
      <% @films.each do |film| %>
        <%= render partial: "film", locals: { film: film } %>
      <% end %>
      <div class="cl">&nbsp;</div>
      <%= will_paginate @films %>
    <%end%>
  </div>
</div>
