<div class="film-container" >
  <div id="film-name">
    <%= @film.name %>
  </div>
  <% if @episode.link_exist? %>
    <div class="video-container">
      <%= video_tag @episode.get_link(params[:link_quality]), controls: true, height: 500 %>
    </div>
    <div class="quality">
      <% @episode.link_episodes.each do |link| %>
        <%= link_to link.quality, view_film_path(@film, episode_id: @episode.id,
                                                         quality: link.quality) %>
      <% end %>
    </div>

  <% else %>
    <%= t ".link_not_exist" %>
  <% end %>

  <% unless @film.movie? %>
    <%= t ".list_of_episodes" %>
    <div class="tv_series">
      <% @episodes.each do |episode| %>
        <%= link_to episode.num_epi, view_film_path(@film, episode_id: episode.id) %>
      <% end %>
    </div>
  <% end %>
<div>
