<footer id="footer">
  <p class="lf"><%= t".nguon"%><a href="#"><%=t".site_name"%></a><%=t".reserved"%></p>
  <p class="rf"><%= t".design_by"%> <a href="http://chocotemplates.com/"><%=t".link_theme"%></a></p>
  <div style="clear:both;"></div>
</footer>