<header id="header">
    <h1 id="logo"><%=link_to (t ".movie_hunter"), root_path%></h1>
    <div class="social"> <span><%= t".follow" %></span>
      <ul>
        <li><a class="twitter" href="#">twitter</a></li>
        <li><a class="facebook" href="#">facebook</a></li>
        <li><a class="vimeo" href="#">vimeo</a></li>
        <li><a class="rss" href="#">rss</a></li>
      </ul>
    </div>
    <div id="navigation">
      <ul>
        <li><a class="active"><%= link_to (t ".home") ,root_path%></a></li>
        <li><%= link_to (t".new"), new_path%></li>
        <li><%= link_to (t".theaters")  %></li>
        <li><%= link_to (t".coming_soon") %></li>
        <li><%= render 'devise/menu/registration_items' %></li>
        <li><%= render 'devise/menu/login_items' %></li>
      </ul>
    </div>
    <div id="sub-navigation">
      <ul>
        <li>
           <%= link_to (t ".movie"), filter_films_path(category: Settings.film.movie) %>
        </li>
        <li>
           <%= link_to (t ".tv_series"), filter_films_path(category: Settings.film.tv_series) %>
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= (t ".origin") %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% @origins.each do |origin| %>
                <li><%= link_to origin.name, filter_films_path(origin: origin.id) %></li>
              <% end %>
              <li class="divider"></li>
            </ul>
          </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= (t ".genre") %>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <% @genres.each do |genre| %>
              <li><%= link_to genre.name, filter_films_path(genre: genre.id) %></li>
            <% end %>
            <li class="divider"></li>
          </ul>
        </li>
      </ul>
      <div id="search">
        <%= search_form_for @q, url: search_path do |f| %>
          <%= f.label :name_or_alter_name_cont %>
          <%= f.search_field :name_or_alter_name_cont %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </header>
