
  <header id="header">
    <h1 id="logo"><%=link_to (t ".movie_hunter"), root_path%></h1>
    <div class="social"> <span><%= t".follow" %></span>
      <ul>
        <li><a class="twitter" href="#">twitter</a></li>
        <li><a class="facebook" href="#">facebook</a></li>
        <li><a class="vimeo" href="#">vimeo</a></li>
        <li><a class="rss" href="#">rss</a></li>
        <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
      </ul>
    </div>
    <div id="navigation">
      <ul>
        <li><a class="active"><%= link_to (t ".home") ,root_path%></a></li>
        <li><%= link_to (t".new"), new_path%></li>
        <li><%= link_to (t".theaters")  %></li>
        <li><%= link_to (t".coming_soon") %></li>
        <li><%= link_to (t".contact")%></li>
        <li><%= link_to (t".advertise")%></li>
      </ul>
    </div>
    <div id="sub-navigation">
      <ul>
        <li><%= link_to (t".show")%></a></li>
        <li><%= link_to (t".lastest_trailer")%></li>
        <li><%= link_to (t".top_rate")%></li>
        <li><%= link_to (t".most_commented")%></li>
      </ul>
      <div id="search">
        <%= search_form_for @q, url: search_path do |f| %>
          <%= f.label :name_or_alter_name_cont %>
          <%= f.search_field :name_or_alter_name_cont %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </header>
